<!DOCTYPE html>
<html lang="en">

<head>
    <title>Amigos Académicos</title>
    <% include partials/head %>
</head>

<body>

    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-block"></span>Bienvenido <%=datos.nombre%></h1>
                <form action="/registrarIngreso" id="formulario" method="post">
                    <div class="form-group">
                        <input type="hidden" id="serial" name="serial" value="<%=datos.serialCarnet%>" class="form-control">
                        <input type="submit" class="btn btn-dark btn-lg" value="Registrar Asistencia.">
                    </div>
                </form>
                <form action="/listarAsesorias" id="formulario" method="post">
                    <div class="form-group">
                        <input type="hidden" id="serial" name="serial" value="<%=datos.serialCarnet%>" class="form-control">
                        <input type="submit" class="btn btn-dark btn-lg" value="Consultar Asesorias.">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</body>

</html>